.jumbotron {
    background-color: #111111;
    padding-top: 0px;
    margin-bottom: 10px;
    height: 220px;
}

.logo {
    display: block;
    margin: 0 auto;
}

.panel-default {
    height: 310px;
}

.panel-default > .panel-heading {
    background-color: #102D67;
    color: white;
  }

.panel-photos {
    display: block;
    margin: 0 auto;
}

#currentWord {
    font-size: 28px;
    letter-spacing: 12px;
}

#id {
    text-align: center;
}